*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.brand-img
{
    width: 60px;
    height: 60px;
}

.leftsec{
    width: 35%;
    margin-top: 70px;
}

.rightsec{
    width: 35%;
}

.tabs{
    color: white;
}

.tabs:hover{
    color: rgb(219, 218, 219);
}

.second-sec{
    background-color: rgb(255, 230, 240);
    
}

hr{
    margin: 40px 70px;
    background: rgb(224, 180, 242);   
    opacity: .30;
    height: 1.5px;
}

.edu-sec{
    width: 45%;
}

.skill-sec{
    width: 45%;
}

.about-heading:after {
    background-color: rgb(241, 115, 168);
    content: " ";
    display: block;
    height: 4px;
    margin: 20px auto 0;
    width: 80px;
}

.about-heading {
    font-weight: 700;
    text-transform: uppercase
}

.knowMe-box-header {
    border: 1px solid #000;
    border-radius: 7px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px!important;
    margin: 20px auto 15px;
    max-width: 220px!important;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}
.be-head{
    font-size: 17px;
}

.sub-text
{
    font-size: 15px;
}

.bg-color{
    background-color: rgb(255, 255, 255);
}

.skill-box {
    cursor: pointer;
    padding: 5px;
}
.skill-img{
    width: 70%;
}
.skill-name {
    font-family: Poppins,sans-serif!important;
    font-size: 14px;
    margin-top: 7px;
}

/* #element{
    font-family: 'verdana', sans-serif;
    font size: 20px;
    margin-top: 10px
} */