*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.brand-img
{
    width: 60px;
    height: 60px;
}

.leftsec{
    width: 35%;
    margin-top: 70px;
}

.rightsec{
    width: 35%;
}

.tabs{
    color: white;
}

.tabs:hover{
    color: rgb(219, 218, 219);
}

/* Second Section */

.second-sec{
    background-color: rgb(255, 230, 240);
}

.edu-sec{
    width: 45%;
    box-shadow: 1px 1px 20px 2px #c1c0c0;
}

.skill-sec{
    width: 45%;
    box-shadow: 4px 5px 20px 5px #b1b1b1;
}

.about-heading:after {
    background-color: rgb(241, 115, 168);
    content: " ";
    display: block;
    height: 4px;
    margin: 20px auto 0;
    width: 80px;
}

.about-heading {
    font-weight: 700;
    text-transform: uppercase;
}

.knowMe-box-header {
    border: 1px solid #000;
    border-radius: 7px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.5px!important;
    margin: 20px auto 15px;
    max-width: 220px!important;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    /* box-shadow: 2px 4px 2px #bdbcbc; */
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}
.be-head{
    font-size: 17px;
}

.sub-text
{
    font-size: 15px;
}

.bg-color{
    background-color: rgb(255, 255, 255);
}

.skill-box {
    cursor: pointer;
    padding: 5px;
}

.skill-box:hover {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #f4f5f5;
    background-color: #f4f5f5;
    border-radius: 10px;
    box-shadow: 2px 4px 5px 2px #b2b1b1;
}

.skill-img{
    width: 70%;
}
.skill-name {
    font-family: Poppins,sans-serif!important;
    font-size: 14px;
    margin-top: 7px;
}

.bootstrap-img{
    margin-top: 18px;
}

/* Third Section */

.project-container{
    height: 500px;
}

.card{
    border: 1px solid black;
    color: #000;
    font-family: Poppins,sans-serif!important;
}
.card-img{
    width: 80%;
    padding: 50px 10px;
}
.card-row {
    padding: 30px 100px;
}
.card-body{
    background-color: rgb(245, 225, 230);
    border-radius: 5px 0px;
}
.demo-container{
    background-color: rgb(245, 225, 230);
    border-radius: 0px;
    padding-bottom: 10px;
}
.card-btn{
    background-color:  #201f1f;
    margin: 0px 10px;
    padding: 5px 10px;
    width: 150px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgb(84, 84, 84);
}
.card-btn:hover{
    background-color: #494849;
    margin: 0px 10px;
    padding: 5px 10px;
    width: 150px;
    /* transition: 2s; */
    border-radius: 3px;
    box-shadow: 2px 2px 5px 2px rgb(84, 84, 84);
}
.link{
    text-decoration: none;
}

/* Footer */
.footer-container{
    text-align: center;
    background-color: #313030;
    margin-top: 100px;
    padding-bottom: 20px;
}
.name-container{
    color: white;
    padding-top: 20px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
.hobby{
    font-size: 17px;
    padding-top: 20px;
}
.social-media{
    width: 40px;
    border-radius: 5px;
    margin: 30px 20px 20px;
}
.social-media:hover{
    width: 45px;
    border-radius: 5px;
    margin: 25px 20px 20px;
}
.copyright{
    color: white;
}